# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# MacOS
*.DS_Store

Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @joao-conde
 Sign out
2,439
62,080 28,187 github/gitignore
 Code  Pull requests 174  Projects 0  Insights
gitignore/Global/Eclipse.gitignore
ade08ba  on Dec 26, 2017
@rafiw rafiw Update Eclipse.gitignore (#2556)
@sherzodv @tyutyutyu @shiftkey @aroben @Utumno @sveyret @segfly @drasolka @rlee287 @rafiw @raeglan @mimibar @fhemberger @leandrodeleite @jcarsique @harshadsabne @gAmUssA @DenisGorbachev @pangratz @defunkt @arinto @apetresc @alexkaratarakis
    
54 lines (39 sloc)  714 Bytes

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools 
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
